body {
  font-family: "source sans pro", sans-serif;
  font-weight: 400;
  color: black;
  line-height: 1.6;
  font-size: 16px;
}

a {
  color: black;
}

html,
button,
input,
select,
textarea {
  color: black;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border-top: 1px dashed black;
}

img {
  margin: 10px auto 10px auto;
  max-width: 100%;
  display: block;
}

a img {
  border: none;
}

figure {
  margin: 0;
  text-align: center;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-color: #a00;
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}

blockquote em {
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: #77212e;
  font-weight: 200;
  text-transform: lowercase;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.container {
  max-width: 800px;
}

ul {
  padding-left: 15px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.prevent-collapse {
  min-height: 0.1rem;
}

.smaller {
  font-size: 70%;
}

ul {
  list-style: disc inside;
}

.site-title {
  font-size: 30px;
  font-family: Iosevka Slab, monospace;
  padding-left: 30px;
}

.site-title a {
  font-weight: 100;
  text-decoration: none !important;
  color: #426b69;
}

.post ul li {
  margin-bottom: 10px;
}

.post ul li p {
  display: inline;
}

.highlight pre {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
}

.highlight {
  background: 0 0;
  background-color: #ffffff;
}

pre code {
  display: inline-block;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.3em;
}

.header h2 {
  font-size: 1.125rem;
}

.header nav ul,
.header nav li {
  margin: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  text-transform: lowercase;
}

.site-description {
  padding: 0;
  padding-top: 10px;
  text-align: center;
}

.header .site-description nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

.header .site-description nav ul svg {
  max-height: 15px;
}

.recent-posts .posts .post {
  margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
  font-size: 0.725rem;
  color: black !important;
  margin-bottom: 4px;
}

.post .post-header {
  margin-bottom: 30px;
}

.post .post-header .title {
  margin: 0;
}

.post-tags a {
  margin-right: 5px;
}

.post .post-header .meta {
  padding-left: 5px;
  margin-top: 10px;
}

.post .draft-label {
  color: #a00;
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4;
}

.post-tags .tags li {
  margin-bottom: 0;
  margin-top: 20px;
}

.post-tags .tags a {
  display: inline-block;
  border: 1px solid #a00;
  border-radius: 4px;
  padding: 0px 6px;
  color: #a00;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
}

.list .posts .post .meta {
  margin-bottom: 0;
  margin-left: 5px;
}

.footer {
  text-align: right;
  font-size: 0.75em;
  color: black;
}

.page-title {
  margin-bottom: 0;
}

.tag-cloud {
  margin-top: 20px;
}

.tag-cloud a {
  margin-right: 15px;
}

.pagination {
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.pagination li {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.pagination .page-prev {
  margin-right: 20px;
  padding-right: 20px;
}

.pagination .page-item.page-prev {
  text-align: left;
}

.pagination .page-item.page-next {
  text-align: right;
}

table th {
  background-color: #f4f4f4;
}

table th,
table td {
  padding: 10px 20px;
  border: 1px solid #dddddd;
}

@media (max-width: 767px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  .container {
    margin-top: 10px;
  }
}

.nav-social-text-icons a {
  text-decoration: none;
}

.site-description {
  font-family: "Source Sans Pro";
  font-weight: 200;
}

.nav-link {
  font-family: "Iosevka Slab";
  /* font-weight: bold; */
  text-decoration: none;
}

footer {
  color: #000000;
}

.nav {
  padding: 20px !important;
}

.post {
  padding-bottom: 20px;
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 767px) {
  .content {
    padding: 10px 50px 10px 50px;
  }
}

pre {
  overflow-x: scroll;
  width: inherit;
}

.social-icon {
  text-decoration: none;
  font-weight: 100;
  font-family: Iosevka Slab, monospace;
  margin-left: 20px;
}
