<!DOCTYPE html>
<html lang="en-us">
  {{ partial "header.html" . }}
  <main>
    <div class="container wrapper list">
      {{ partial "head.html" . }} {{ if isset .Data "Term" }}
      <h2>Entries tagged - "{{ .Data.Term }}"</h1>
      {{ else }}
      <h2 class="page-title">All articles</h2>
      {{ end }} {{ with .Content }}{{ . }}{{ end }}

      <ul class="posts">
        {{- range .Data.Pages -}} {{- if (in (.Site.Params.excludedTypes |
        default (slice "page")) .Type) -}} {{- else -}}
        <li class="post">
          <a href="{{ .RelPermalink }}">{{.Title}}</a>
          <span class="meta"
            >{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
            <span class="draft-label">DRAFT</span> {{ end }}</span
          >
        </li>
        {{- end -}} {{- end -}}
      </ul>
    </div>
  </main>
  {{ partial "footer.html" . }}
</html>
