
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-Regular.ttf" type="font/truetype">
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-Italics.ttf" type="font/truetype">
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-Light.ttf" type="font/truetype">
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-LightItalics.ttf" type="font/truetype">
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-Bold.ttf" type="font/truetype">
<link href="{{ .Site.BaseURL }}fonts/SourceSansPro-BoldItalics.ttf" type="font/truetype">

<link href="{{ .Site.BaseURL }}fonts/iosevka-slab-regular.woff2" type="font/woff2">

<style>
    
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: url(../../fonts/SourceSansPro-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 700;
  src: url(../../fonts/SourceSansPro-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url(../../fonts/SourceSansPro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/SourceSansPro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Iosevka Slab;
  src: url("/fonts/iosevka-slab-regular.woff2");
}

</style>