<div class="header">
	<base href="{{ .Site.BaseURL }}">
	<div style="display:flex; justify-content: space-between;align-items:baseline;">
		<div>
			<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		</div>
		<div>
			<nav class="nav social">
				<ul class="flat">
					{{- range $index, $key := .Site.Params.Social -}}
					<li>
						<a href="{{ $key.url }}" title="{{ $key.name }}" style="color: {{ $key.color }};">
							<i data-feather="{{ $key.icon }}" style="margin-right: 2%;height: 60%; width: 60%;"></i>
						</a>
					</li>
					{{- end -}}
				</ul>
			</nav>
		</div>
	</div>
	<br/>
	<!-- <hr style="margin-bottom: 10px; border-top: 5px solid black;"> -->
	<div class="site-description" style="font-family: Iosevka Slab;">
		{{- if isset .Site.Params "subtitle" -}}
		{{ .Site.Params.Subtitle | markdownify }}
		{{- end -}}
	</div>
	<nav class="nav" >
		<ul class="flat" style="display:flex; justify-content:space-around;">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}" style="font-family: Iosevka Slab;">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>

	<hr style="margin-top: 30px; border-top: 1px dashed black;">
</div>
