<header>
	<base href="{{ .Site.BaseURL }}">
	<div class="title-line">
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<div>
			<nav class="nav social" aria-label="nav-social">
				<ul class="flat">
					{{- range $index, $key := .Site.Params.Social -}}
					<li>
						<a href="{{ $key.url }}" title="{{ $key.name }}"
							class="social-icon"
							style="color: {{ $key.color }};">
							{{ $key.short }}
						</a>
					</li>
					{{- end -}}
				</ul>
			</nav>
		</div>
	</div>
	<hr>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		{{ .Site.Params.Subtitle | markdownify }}
		{{- end -}}
	</div>
	
	<nav class="nav" aria-label="main-site-nav">
		<ul class="flat" style="display:flex; justify-content:space-around;">
			{{ range .Site.Menus.main }}
			<li>
				<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>

	<hr>
</header>
